{% load static %}
<html>
<head>
  <title>SPAPS</title>
  <link rel="stylesheet" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/additional/css/style.css">
  <script src="dist/sweetalert.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/dist/sweetalert.css">
  <link rel="stylesheet" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/bootstrap-material-design-font/css/material.css">
  <link rel="stylesheet" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/tether/tether.min.css">
  <link rel="stylesheet" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/dropdown/css/style.css">
  <link rel="stylesheet" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/animate.css/animate.min.css">
  <link rel="stylesheet" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/theme/css/style.css">
  <link rel="stylesheet" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/additional/css/mbr-additional.css" type="text/css">
</head>
<body>
<section id="menu-0">

    <nav class="navbar navbar-dropdown bg-color transparent navbar-fixed-top">
        <div class="container">

            <div class="mbr-table">
                <div class="mbr-table-cell">

                    <div class="navbar-brand">
                        <a class="navbar-caption" href="/">SPAPS<!-- <img class="col-md-7 col-xs-6" src = "http://cdn.rawgit.com/kirananto/RESOURCES/master/images/logo.png" /> --></a>
                    </div>

                </div>
                <div class="mbr-table-cell">

                    <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="hamburger-icon"></div>
                    </button>

                    <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar"><li class="nav-item"><a class="nav-link link" href="/home">Dash Board</a></li></ul>
                    <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="close-icon"></div>
                    </button>

                </div>
            </div>

        </div>
    </nav>

</section>
<section class="engine"></section><section class="mbr-section article mbr-parallax-background mbr-after-navbar" id="msg-box8-8" style="background-image: url(http://cdn.rawgit.com/kirananto/RESOURCES/master/images/jumbotron.jpg); padding-top: 140px; padding-bottom: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <h3 class="mbr-section-title display-2">Student Performance Analysis and Predictive System</h3>
                <div class="lead"><p></p></div>
 </div>
        </div>
    </div>
</section> 
<section class="mbr-section mbr-parallax-background" id="content5-0" style=" background-color: #00964d; padding-top: 80px; padding-bottom: 50px;">
    <div class="container">
        <h3 class="mbr-section-title display-2" style="color:#ffffff;">Best Way to know your marks</h3>
        <div class="lead"><p class="display-4" style="color:#ffffff;">Know the marks! Work on your downs!</p></div>
    </div>
</section>
<section class="engine"></section><section class="mbr-cards mbr-section mbr-section-nopadding mbr-after-navbar" id="features4-3" style="background-color: rgb(255, 255, 255);">

    

    <div class="mbr-cards-row row">
        <div class="mbr-cards-col col-xs-12 col-ms-4 col-lg-4" style="padding-top: 50px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img iconbox" style="background-image: url(http://cdn.rawgit.com/kirananto/RESOURCES/master/images/abhi.jpg);"></div>
                    <div class="card-block">
                        <h4 class="card-title">Abhinav Thomas</h4>
                        <h5 class="card-subtitle"></h5>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 100px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img iconbox" style="background-image: url({% static "images/aksh.jpeg" %});"></div>
                    <div class="card-block">
                        <h4 class="card-title">Akshay P</h4>
                        <h5 class="card-subtitle"></h5>
                        
                    </div>
                </div>
          </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 100px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img iconbox" style="background-image: url({% static "images/rohit.jpeg" %});"></div>
                    <div class="card-block">
                        <h4 class="card-title">C D Rohith Menon</h4>
                        <h5 class="card-subtitle"></h5>
                        
                    </div>
                </div>
            </div>
        </div>
        
        
        
    </div>
</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features4-4" style="background-color: rgb(255, 255, 255);">

    

    <div class="mbr-cards-row row">
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img iconbox" style="background-image: url({% static "images/joel2.jpeg" %});"></div>
                    <div class="card-block">
                        <h4 class="card-title">Joel Manoj<div><br></div></h4>
                        <h5 class="card-subtitle"></h5>
                        <p class="card-text"></p>
                        
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>

<footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-d" style=" padding-top: 1.75rem; padding-bottom: 1.75rem;">
    
    <div class="container">
        <p class="text-xs-center">Copyright (c) 2018 SPAPS.</p>
    </div>
</footer>
   <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/web/assets/jquery/jquery.min.js"></script>
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/tether/tether.min.js"></script>
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/bootstrap/js/bootstrap.min.js"></script>
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/smooth-scroll/SmoothScroll.js"></script>
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/dropdown/js/script.min.js"></script>
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/touchSwipe/jquery.touchSwipe.min.js"></script>
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/viewportChecker/jquery.viewportchecker.js"></script>
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/jarallax/jarallax.js"></script>
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/theme/js/script.js"></script>
</body>
</html>
