{% extends 'base.html' %}
{% block content %}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                            <div class="card card-stats">
                            	{{name}} will get {{ marks }}, if he/she continues in this pace.
							</div>
                    </div>
                    <div class="row">
                            <div>
                                Chance of {{ error }}% error in prediction.                                
                            </div>
                    </div>
                    <div class="row">
                            <div class="card card-stats">
                                {{ msg }}
                            </div>
                    </div>

                </div>
            </div>
{% endblock %}
