{% extends 'base.html' %}
{% block content %}
{% load static %}
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Input the details</div>
        <div class="card-body">
          <form action="/test/" method="POST">{% csrf_token %}
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" name="name" placeholder="Enter the name">
            </div>
            <div class="form-group">
              <label>Theory/Problematic</label>
              <select class="form-control" name="typ">
                <option value="0">Theory</option>
                <option value="1">Problematic</option>
              </select>
            </div>
            <div class="form-group">
              <label>Theory/Lab</label>
              <select class="form-control" name="lab">
                <option value="0">Theory</option>
                <option value="1">Lab</option>
              </select>
            </div>
            <div class="form-group">
              <label>Series 1</label>
              <input type="text" class="form-control" name="ser1">
              <label>Series 1 Max</label>
              <input type="text" class="form-control" name="mser1">

            </div>
            <div class="form-group">
              <label>Series 2</label>
              <input type="text" class="form-control" name="ser2">
              <label>Series 2 Max</label>
              <input type="text" class="form-control" name="mser2">
            </div>
            <div class="form-group">
              <label>Internal</label>
              <input type="text" class="form-control" name="int">
              <label>Internal Max</label>
              <input type="text" class="form-control" name="mint">
            </div>
            <div class="form-group">
              <input type="Submit">
            </div>
            
          </form>
        </div>
    </div>
{% endblock %}