{% extends 'base.html' %}
{% load static %}
{% block content %}
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> Download the trainable data</div>
        <div class="card-body">
          <a href=""></a>
          <img src="{% static "images/final_plot.png" %}" height="500">
        </div>
        <div class="card-footer small text-muted">Maximum Accuracy for Gradient Boost at 85% train set </div>
      </div>
{% endblock %}
