{% extends 'base.html' %}
{% block content %}
{% load static %}       

      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Data Table</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  {% for i in headl %}
                  <th>{{i}}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for i in bodyl %}

                <tr>
                  {% for j in i %}
                  <td>{{j}}</td>
                  {% endfor %}

                </tr>

                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  {% for i in headl %}
                  <th>{{i}}</th>
                  {% endfor %}
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Training the models using this data...</div>
      </div>
    </div>
{% endblock %}