{% extends 'base.html' %}
{% block content %}
	<div class="content">
        <div class="container-fluid">
			<center>
				<form action="/train" method="POST" enctype="multipart/form-data" role="form" >{% csrf_token %}
					<!--  class="dropzone"<input type="submit" name="submit" value="Upload" class="btn btn-sm btn-primary">              			 -->
					<div class="fallback">
					    <input name="file" type="file" accept=".csv" />
					    <input type="submit" name="">
					  </div>

				</form>
			</center>

        </div>
    </div>
{% endblock %}